{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">Login</button>
        {% endbuttons %}

    </form>

{% endblock content %}