{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="jumbotron">
    <div  style="text-align: center;">
        <h1>Welcome to Linarc Onboarding</h1>
        <h3>An exclusive platform to onboard new user</h3>

        <h5>Join Our community</h5>
        <p>Keep Track your Employees and Fast Onboarding</p>

        <a class="btn btn-dark" href="{%url 'signup'%}">Sign Up</a>
        <a class="btn btn-dark" href="{%url 'login'%}">Login</a>
    </div>
</div>

{% endblock content %}
    