{% extends 'setup.html' %}
{% load static %}
{% block setup_base %}

<h2>List of Platforms for {{ role.role_name }}</h2>
    {% if role_platforms %}
    {% for item in role_platforms %}
        <li>{{ item.cpl_id.plt_id.platform_name }}</li>
    {% endfor %}
    {% else %}
        <p>No Platforms Selected for {{ role.role_name }}, Please Add few Platforms</p>
    {% endif %}

<br>


<h5>Select platforms for {{ role.role_name }}</h5>
<p></p>    
    <form method="post">
        {% csrf_token %}
        {% if all_platforms %}
        {% for item in all_platforms %}
            <input type="checkbox" name="{{ item.plt_id.plt_id }}">
            <label name="labelname">{{ item.plt_id.platform_name }}</label><br>
        {% endfor %}
        {% else %}
            <p>All available platforms selected</p>
        {% endif %}
        <input type="submit" value="Submit">
    </form>
{% endblock setup_base %}