{% extends 'setup.html' %}
{% block setup_base %}
    <h2>List of Platforms</h2>
        {% if all_platforms %}
        {% for item in all_platforms %}
            <li>{{ item.plt_id.platform_name }}</li>
        {% endfor %}
        {% else %}
            <p>No company Platforms Selected, Please Add few Platforms</p>
        {% endif %}

    <br>

    <h5>Add platforms</h5>
    <form method="post">
        {% csrf_token %}
        {% if system_platforms %}
        {% for item in system_platforms %}
            <input type="checkbox" name="{{ item.plt_id }}">
            <label name="labelname">{{ item.platform_name }}</label><br>
        {% endfor %}
        {% else %}
            <p>All available platforms selected</p>
        {% endif %}
        <input type="submit" value="Submit">
    </form>
{% endblock setup_base %}