{% extends 'setup.html' %}
{% load static %}
{% block setup_base %}
<h2>List of Roles</h2>
{% if all_roles %}
<ul class="list-group">

    {% for item in all_roles %}
    <div class="container">
        <li class="list-group-item">
            {{ item.role_name }} - -
            <a class="btn btn-light btn-sm" href="{% url 'plfroles' role_id=item.role_id %}">add platforms</a>
        </li>
    </div>
    {% endfor %}
</ul>

{% else %}
<p>Create few roles</p>
{% endif %}
<br>

<h5>create role</h5>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">add</button>
</form>
{% endblock setup_base %}