{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="card">
          <div class="card-header text-center">
            <h4 class="card-text mt-3 mb-0"> Welcome to {{request.user.admin.user_company_name}}</h4>
            <h3 class="card-text mt-3 mb-0">{{ request.user.first_name }}</h3>
          </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item bg-light"><a class="text-dark" href="{% url 'platform' %}">Platform Setup</a></li>
              <li class="list-group-item bg-light"><a class="text-dark" href="{% url 'Roles' %}">Role set up</a></li>
              <li class="list-group-item bg-light"><a class="text-dark" href="{% url 'onboard' %}">User Onboard </a></li>
              <li class="list-group-item bg-light"><a class="text-dark" href="{% url 'employees' %}">Employee List</a></li>
            </ul>
          </div>
    </div>
    <div class="col-md-9">
      <!-- </div> -->
        <div class="container" style="background-color: white;">
          <div class="jumbotron">
          {% block user_base %}

          {% endblock %}
          {% block setup_base %}

          {% endblock %}
        </div>
        </div>
    </div>        
{% endblock content %}