{% extends 'setup.html' %}
{% load bootstrap4 %}
{% block user_base %}

{% if role_error %}
    <h4> No platforms added to role - {{ role }} </h4>
    <h4> please add here </h4>
    <a class="btn btn-light btn-sm" href="{% url 'Roles'%}">Add platforms roles</a>

{% else %}
    <h1>Add User</h1>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">Create User</button>
        {% bootstrap_form_errors form layout='inline' %}
        {% endbuttons %}

    </form>
{% endif %}

{% endblock user_base %}