{% extends 'setup.html' %}
{% load static %}
{% block setup_base %}

<h3> Employees List</h3>
<br>
<ul class="list-group">
    {% for item in employees %}
    <div class="container">
        <li class="list-group-item">
            <a href="{% url 'userdetail' pk=item.emp_id %}">{{ item.first_name }} {{ item.last_name }}</a>
            - - {{ item.account_creation }}
        </li>
    </div>
    {% endfor %}
</ul>
<br>
<a href="{% url 'onboard' %}"><button type="submit" class="btn btn-primary">Add New Employee</button></a>
{% endblock setup_base %}
