{% extends 'setup.html' %}
{% load bootstrap4 %}
{% block user_base %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>Employee Detail</h3>
            <h3>{{ employee.first_name|upper }} {{ employee.last_name|upper }}'s Profile</h3>
        </div>

    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-8">
        <h5 class="font-weight-normal">First Name : {{ employee.first_name }} </h5>
        <h5 class="font-weight-normal">Last Name : {{ employee.last_name }}</h5>
        <h5 class="font-weight-normal">Designation: {{employee.role.role_name}}</h5>
        <h5 class="font-weight-normal">Email: {{employee.email_account}}</h5>
        <h5 class="font-weight-normal">Company Email: {{employee.company_email}}</h5>
        <h5 class="font-weight-normal">phone: {{employee.phone}}</h5>
        <p></p>
    </div>
    <div class="col-md-4">
        <h5 class="font-weight-normal">Account Creation Status</h5>
        <h6>{{employee.account_creation}}</h6>
        {% if not employee.send_ro_process %}
        <a class="btn btn-light btn-sm" href="{% url 'create_accounts' emp_id=employee.emp_id %}">Create Accounts</a>
        {% endif %}
        <br>
        {% if not employee.send_ro_process %}
        {% if employee.google_account %}
        <h6>Google Account : PENDING</h6>
        {% else %}
        <h6>Google Account : NOT CREATED</h6>
        {% endif %}
        {% if employee.youtrack_account %}
        <h6>YouTrack Account : PENDING</h6>
        {% else %}
        <h6>YouTrack Account : NOT CREATED</h6>
        {% endif %}
        {% if employee.gitlab_account %}
        <h6>GitLab Account : PENDING</h6>
        {% else %}
        <h6>GitLab Account : NOT CREATED</h6>
        {% endif %}
        {% else %}
        {% if employee.google_account %}
        <h6>Google Account : DONE</h6>
        {% else %}
        <h6>Google Account : NOT CREATED</h6>
        {% endif %}
        {% if employee.youtrack_account %}
        <h6>YouTrack Account : DONE</h6>
        {% else %}
        <h6>YouTrack Account : NOT CREATED</h6>
        {% endif %}
        {% if employee.gitlab_account %}
        <h6>GitLab Account : DONE</h6>
        {% else %}
        <h6>GitLab Account : NOT CREATED</h6>
        {% endif %}
        {% endif %}
    </div>
</div>
<hr>
</div>

{% endblock user_base %}